 *{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal)
}

:root{
    --fonte-principal: "Poppins", sans-serif;
    --federal-blue: #03045eff;
    --marian-blue: #023e8aff;
    --honolulu-blue: #0077b6ff;
    --blue-green: #0096c7ff;
    --pacific-cyan: #00b4d8ff;
    --vivid-sky-blue: #48cae4ff;
    --non-photo-blue: #90e0efff;
    --non-photo-blue-2: #ade8f4ff;
    --light-cyan: #caf0f8ff;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(3, 4, 94), rgb(0, 119, 182));
    
}

.tela-login{
    background-color: rgba(204, 204, 204, 0.9);
    position: absolute; /*ocupando apenas o espaço de seus elementos*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px; /*distancia entre os elementos e a borda*/
    border-radius: 5px;
    color: black;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.titulo-login{
    font-family: var(--fonte-principal);
    font-size: 28px;
    font-weight: 500;
    color: var(--federal-blue);
}

.inputPlaceh{
    margin-top: 10px;
    width: 210px;
    border-radius: 3px;
    padding: 14px;
    border: rgb(92, 92, 92);
    outline: none; /*borda de quando clicamos no placeholder*/
    transition: 0.5s;
    text-align: center;
    
}

.inputPlaceh:hover{
    transition: 0.5s;
    width: 225px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card{
    height: 225px;
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.botao{
    margin-top: 20px;
    background-color: var(--federal-blue);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.botao:hover{
    transition: 0.5s;
    background-color: var(--light-cyan);
    border-radius: 5px;
    color: #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.texto-aviso{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 200;
    text-align: center;
    color: black;
}

.link-aviso{
    text-decoration: none;
    color: var(--honolulu-blue);
}